<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/gigspot_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gigspot_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ReceiptTicketActivity"
            android:exported="false" />
        <activity
            android:name=".BoughtTicketsActivity"
            android:exported="false" />
        <activity
            android:name=".Profiles.EditProfileBandActivity"
            android:exported="false" />
        <activity
            android:name=".Profiles.EditProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".Profiles.ProfileBandUserActivity"
            android:exported="false" />
        <activity
            android:name=".EditBandActivity"
            android:exported="false" />
        <activity
            android:name=".EventBandActivity"
            android:exported="false" />
        <activity
            android:name=".BandMenuActivity"
            android:exported="false" />
        <activity
            android:name=".TicketActivity"
            android:exported="false" />
        <activity
            android:name=".SessionesActivity"
            android:exported="false" />
        <activity
            android:name=".EventsActivity"
            android:exported="false"
            android:label="@string/title_activity_events"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".Registers.RegisterBandActivity"
            android:exported="false" />
        <activity
            android:name=".Registers.RegisterUserBandActivity"
            android:exported="false" />
        <activity
            android:name=".Registers.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".CheckingSessionActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".Map2Acrtivity"
            android:exported="false" />
        <activity
            android:name=".FollowUserActivity"
            android:exported="false" />
        <activity
            android:name=".FollowBandActivity"
            android:exported="false" />
        <activity
            android:name=".Profiles.ProfileBandFragment"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.APISplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

    </application>

</manifest>